body {
  color: gray;
  width: 100%;

}


header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: fixed;
  height: 64px;
  z-index: 1;
  background-color: white;
  font-family: "Verdana", sans-serif;
  top: 0;

}

  /*not sure I need this*/
.container {
  padding: 16px 24px;
  width: 1232px;
  margin: auto;
}

.logo-title {
  display: flex;
  flex-grow: 1;
  align-items: center;
  height: 32px;
  margin-left: 24px;
}


nav {
display: flex;
align-items: flex-end;

}

nav span {
  padding-right: 24px;
}


/* Banner Section */

.banner {
  background-color: #DCB947;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 4rem;
}

.banner img {
width: 60%;
height: auto;
padding: 2rem 1.5rem;
}

.banner-text {
  width: 40%;
  padding: 2rem 1rem;
  font-family: "Helvetica", sans-serif;
}

h2 {
  font-size: 2rem;
  color: black;
  margin-bottom: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-size: 1.2rem;
  color: black;
}

.button {
  margin: 2rem 0;
  text-align: center;
  background-color: black;
  color: white;
  padding: 1rem 1rem;
  border-radius: 10px;
  width: 8rem;
}
